
.profile-container {
  width: 100vw; 
  height: 100vh; 
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  background:  rgb(151 205 241 / 18%);
    color: white;
  /* text-align: center; */
  padding: 30px
}

/* Ảnh đại diện */
.profile-avatar {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid white; /* Viền trắng */
  margin-bottom: 15px;
}

/* Thông tin cá nhân */
.profile-details {
  /* text-align: center;   */
  font-size: 20px;
}

.profile-details p {
  margin: 10px 0;
}

/* Nút quay lại */
.back-button {
  margin-top: 20px;
  padding: 12px 24px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background: white;
  color: #4CAF50;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.back-button:hover {
  background: #f1f1f1;
}
.h2, h2 {
  color: #f1f1f1 !important;
}