.login-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #14274F;
}

.login-box {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 500px;
    height: 600px;
}

.login-box form {
    height: 423px;
    margin-top: 37px;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.login-box h2 {
    color: #14274F;
}

.login-box .input-group {
    margin: 35px 0;
    text-align: left;
}

.login-box .input-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    color: #14274F;
}

.login-box .input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.login-box button {
    width: 100%;
    padding: 10px;
    background-color: #14274F;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 25px;
}

.login-box button:hover {
    background-color: #0e1c36;
}
