
:root {
    --base-color: #394867;
   --sider-color: #14274E;
    --text-color: #333;
}

.sidebar {
    width: 220px;
    background: var(--base-color);
    color: white;
    padding: 20px;
}

.sidebar .logo {
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 20px;
}

.sidebar .menu ul {
    list-style: none;
    padding: 0;
}

.sidebar .menu ul li {
    margin: 15px 0;
}

.sidebar .menu ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    transition: background 0.3s ease;
}

.sidebar .menu ul li a:hover {
    background: var(--sider-color);
    border-radius: 5px;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: var(--sider-color);
    overflow: hidden;
}

.header {
    background: var(--sider-color);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .search-bar input {
    padding: 8px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.header .user-menu {
    position: relative;
    display: inline-block;
}

.header .user-menu img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.user-menu__sub {
    position: absolute;
    right: 0;
    margin-top: 0;
    width: 120px;
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 8px 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(-10px);
}

.user-menu__sub a{
    text-decoration: none;
}

.user-menu:hover .user-menu__sub,
.user-menu__sub:hover {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.menu-item {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: left;
    background: none;
    border: none;
    cursor: pointer;
}

.menu-item:hover {
    background: #f0f0f0;
}

main {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

/* Footer - Music Player */
.footer {
    background: #9BA4B4;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.footer .song-info {
    display: flex;
    align-items: center;
}

.footer .song-info img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: 10px;
}

.footer .controls {
    display: flex;
    align-items: center;
}

.footer .controls button {
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    margin: 0 10px;
    cursor: pointer;
}

.footer .controls button:hover {
    color: #f1c40f;
}