$status-badges-padding: 0.25rem 0.375rem;
$status-badges-border-radius: 30px;

.table-section {
  table {
    width: 100%;
    border-collapse: collapse;

    thead {
      tr {
        background-color: #f6f7fb;

        th {
          padding: 0.375rem;
          text-align: left;

          &:first-child {
            width: 36px; /* Fixed width for the checkbox column */
          }

          .table-header-check-all {
            display: flex;
            justify-content: center;
            align-items: center;
          }

          &.status-cell-header {
            min-width: 150px; /* Minimum width for the status column */
          }

          &:nth-child(3),
          &:nth-child(4) {
            min-width: 125px;
            max-width: 250px; /* Fixed width for the name column */
          }

          &:last-child {
            min-width: 150px; /* Minimum width for the action column */
          }
        }
      }
    }

    tbody {
      tr {
        border-bottom: 1.5px solid rgba(46, 38, 61, 0.22);

        td {
          padding: 0.375rem;

          &:first-child {
            width: 36px; /* Fixed width for the checkbox column */
          }

          .table-data-checkbox {
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .table-data-name {
            display: flex;
            align-items: center;

            .img-container {
              width: 38px;
              height: 38px;

              img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: contain;
              }
            }
          }

          .status-cell {
            display: block;
            font-size: 14px;

            .status-green {
              padding: $status-badges-padding;
              border-radius: $status-badges-border-radius;
              background-color: rgba(0, 200, 0, 0.1);
              color: #00a000;
            }

            .status-red {
              padding: $status-badges-padding;
              border-radius: $status-badges-border-radius;
              background-color: rgba(255, 0, 0, 0.1);
              color: #d00000;
            }

            .status-yellow {
              padding: $status-badges-padding;
              border-radius: $status-badges-border-radius;
              background-color: rgba(255, 200, 0, 0.1);
              color: #b07800;
            }

            .status-blue {
              padding: $status-badges-padding;
              border-radius: $status-badges-border-radius;
              background-color: rgba(0, 100, 255, 0.1);
              color: #0050d0;
            }

            .status-grey {
              padding: $status-badges-padding;
              border-radius: $status-badges-border-radius;
              background-color: rgba(128, 128, 128, 0.1);
              color: #808080;
            }
          }

          .table-data-action {
            gap: 10px; /* Reduce the gap between icons */

            .img-container {
              width: 36px;
              height: 36px;
              padding: 0.438rem;
              cursor: pointer;

              svg {
                width: 100%;
                height: 100%;
              }

              &.view-detail-btn {
                svg {
                  color: #0d6efd;
                }
              }

              &.edit-info-btn {
                svg {
                  color: #495057;
                }
              }

              &.delete-data-btn {
                svg {
                  color: #dc3545;
                }
              }
            }
          }
        }

        /* Ensure columns with col.render have full width without breaking words */
        td > div > span.col-using-render {
          white-space: nowrap;
          width: auto;
        }
      }
    }
  }

  .table-pagination-section {
    display: flex;
    align-items: center;
    height: 52px;
    background-color: white;

    .table-pagination {
      display: flex;
      justify-content: flex-end;
      flex: 1;
      align-items: center;
      padding: 0 0.75rem;

      span {
        font-size: 15px;
      }

      .pagination {
        margin-left: 1.5rem;

        .img-container {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 38px;
          height: 38px;
          padding: 0.5rem;
          cursor: pointer;

          &.next-arrow {
            margin-left: 1.125rem;
          }

          &.enabled {
            cursor: pointer;

            &:hover {
              border-radius: 50%;
              background-color: rgba(46, 38, 61, 0.04);
            }
          }

          &.disabled {
            cursor: not-allowed;
            opacity: 0.5;
          }
        }
      }
    }
  }
}
