.role {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    margin: auto;

   &__controll {
        display: flex;
        align-items: center;
        justify-content: space-between;
   }

   &__search {
        
        input {
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 5px;
            width: 200px;
            margin-right: 5px;
            outline: none;
        }

        button {
            padding: 8px 12px;
            border: none;
            background: #007bff;
            color: white;
            border-radius: 5px;
            cursor: pointer;
        }
   }

   &__btn {
        border: none;
        text-decoration: none;
        padding: 8px 12px;
        border-radius: 5px;
        display: inline-block;
        margin-right: 5px;
        text-align: center;
        font-size: 15px;
        cursor: pointer;

        &-success {
            background: #28a745; 
            color: white;
        }

        &-warning {
            background: #ffc107; 
            color: black; 
        }

        &-danger {
            background: #dc3545; color: white;
        }
   }

   &__create {
        a{
            text-decoration: none;
        }
   }

   &__table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 15px;

        th, td {
            padding: 10px;
            border: 1px solid #ddd;
            text-align: left;
        }

        th {
            background: #394867;
            color: white;
        }

        img {
            border-radius: 5px;
        }
   }

   &__badge {
        padding: 5px 10px;
        border-radius: 5px;
        color: white;
        font-size: 14px;
        cursor: pointer;

        &-success {
            background: #28a745;
        }

        &-danger {
            background: #dc3545; 
        }
   }
}

.from-role{
    max-width: 100%;
    margin: 10px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Segoe UI', sans-serif;

    &__group {
        margin-bottom: 15px;

        label {
            font-weight: 600;
            display: block;
            margin-bottom: 5px;
            color: #333;
        }

        input {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            transition: border 0.3s ease-in-out;

            &:focus {
                border-color: #007bff;
                outline: none;
            }
        }

    }

    &__btn {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    
        .btn {
            width: 100px;
            padding: 12px;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background 0.3s ease-in-out;
            margin-left: 10px;
        }
    
        .btn-create {
            background: #007bff;
            color: white;
    
            &:hover {
                background: #0056b3;
            }
        }
    
        .btn-back {
            background: #6c757d; 
            color: white;
    
            &:hover {
                background: #545b62; 
            }
        }
    }
}

// end from account 