:root {
    --primary-color: #394867;
    --bg-color: #fff;
    --text-color: #333;
}

.admin__sidebar {
    height: 100vh;
    color: white;
    background: var(--primary-color);
    transition: max-width 0.5s ease-in-out, opacity 0.5s ease-in-out;
    max-width: 250px;  /* Kích thước bình thường */
    overflow: hidden;
    overflow-y: auto; /* Cho phép cuộn khi nội dung dài */
}

.admin__sidebar .admin__logo {
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    transition: all 0.5s ease-in-out;
    padding: 10px;
}

.admin__sidebar.collapsed {
    max-width: 60px;  /* Kích thước thu nhỏ */
    opacity: 0.8; 
}

.admin__sidebar.collapsed .admin__logo {
    font-size: 0;
    margin-bottom: 0;
}

.admin__sidebar .ant-menu {
    background: var(--primary-color);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.admin__sidebar.collapsed .ant-menu {
    transform: translateX(-10px);
    opacity: 0.5;
}

.admin__sidebar .ant-menu li {
    margin-bottom: 20px;
    color: #fff;
}

.admin__sidebar .ant-menu a{
    text-decoration: none;
    font-size: 17px;
}


.admin__sidebar .admin__menu ul {
    list-style: none;
    padding: 0;
}

.admin__sidebar .admin__menu ul li {
    margin: 15px 0;
    text-align: center;
}

.admin__sidebar .admin__menu ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    transition: background 0.3s ease;
}

.admin__sidebar .admin__menu ul li a:hover {
    background: #14274F;
    border-radius: 5px;
}

.admin__sidebar.collapsed .admin__menu ul li a {
    padding: 10px;
}


.admin__main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: var(--bg-color);
    overflow: hidden;
}

.ant-menu-dark .ant-menu-item-selected {
    background-color: #14274F !important;
  }

  
.admin__header {
    background: var(--bg-color);
    padding: 10px 20px;
    display: flex;
    justify-content: end;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.admin__header .admin__user-menu {
    position: relative;
    display: inline-block;
}

.admin__header .admin__user-menu img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.admin__header .user-menu {
    position: absolute;
    top: 35px;
    right: 0;
    margin-top: 0;
    width: 120px;
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 8px 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, transform 0.5s ease;
    transform: translateY(-10px);
}

.admin__header .user-menu a{
    text-decoration: none;
}

.admin__user-menu:hover .user-menu,
.user-menu:hover {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.menu-item {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: left;
    background: none;
    border: none;
    cursor: pointer;
}

.menu-item:hover {
    background: #f0f0f0;
}

.admin__main {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}
