
:root {
    --primary-color: #394867;
    --bg-color: #fff;
    --text-color: #333;
}

.admin__sidebar {
    width: 220px;
    /* height: 100vh; */
    background: var(--primary-color);
    color: white;
    padding: 20px;
}

.admin__sidebar .admin__logo {
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 20px;
}

.admin__sidebar .admin__menu ul {
    list-style: none;
    padding: 0;
}

.admin__sidebar .admin__menu ul li {
    margin: 15px 0;
}

.admin__sidebar .admin__menu ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    transition: background 0.3s ease;
}

.admin__sidebar .admin__menu ul li a:hover {
    background: #14274F;
    border-radius: 5px;
}

.admin__main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: var(--bg-color);
    overflow: hidden;
}

.admin__header {
    background: var(--bg-color);
    padding: 10px 20px;
    display: flex;
    justify-content: end;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.admin__header .admin__user-menu {
    position: relative;
    display: inline-block;
}

.admin__header .admin__user-menu img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.admin__header .user-menu {
    position: absolute;
    right: 0;
    margin-top: 0;
    width: 120px;
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 8px 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(-10px);
}

.admin__header .user-menu a{
    text-decoration: none;
}

.admin__user-menu:hover .user-menu,
.user-menu:hover {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}


.menu-item {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: left;
    background: none;
    border: none;
    cursor: pointer;
}

.menu-item:hover {
    background: #f0f0f0;
}

.admin__main {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}



